section
  .fixed.bottom-1.left-1.z-5(style="width: auto")
    a(href="#", @click.prevent="showDialog = !showDialog; customize = false")
      img(src="~assets/cookie.png", width="36", height="36")

  .fixed.bottom-2.left-2.z-1000.bg-white.w-cc.shadow-lg.cookie-consent(
    :class="{ 'lg:rounded-lg dark:bg-gray-800 dark:text-white': true, 'translate-cc': !showDialog }",
    style="max-height: calc(100vh - 4.5rem)"
  )
    template(v-if="!customize")
      .overflow-y.p-5(style="max-height: calc(100vh - 14.5rem)")
        .flex
          p.font-semibold.leading-tight.text-lg(class="lg:text-xl") {{ $t('cookieConsent.title') }}
          img(src="~assets/cookie-consent.svg", width="200")
        template(v-if="formattedPurposes.length")
          p.text-sm.mt-4 {{ $t('cookieConsent.consentNotice.description') }}&nbsp;
            span(v-html="formattedPurposes")
          p.text-sm.mt-2 {{ $t('cookieConsent.consentNotice.edit') }}
        template(v-else)
          p.text-sm.mt-4 {{ $t('routes.about.cookie.p1') }}

        p.text-sm.mt-2(v-if="$props.cm.changed")
          i {{ $t('cookieConsent.consentNotice.changeDescription') }}
      .flex.items-stretch
        button.text-base.rounded-r-none.flex.justify-center.px-4.py-2.rounded-bl-lg.font-bold.cursor-pointer.text-gray-700.duration-200.ease-in-out.transition.border-gray-200.border-t-2.border-r-1.w-full(
          class="hover:scale-110 focus:outline-none hover:text-gray-800 dark:hover:text-gray-400 dark:text-gray-200 dark:border-gray-600",
          @click="customize = true"
        )
          template(v-if="formattedPurposes.length") {{ $t('cookieConsent.consentNotice.learnMore') }}
          template(v-else) {{ $t('cookieConsent.consentNotice.learnMore_nonTogglable') }}
        button.text-base.rounded-r-none.flex.justify-center.px-4.py-2.rounded-br-lg.font-bold.cursor-pointer.text-orange-400.duration-200.ease-in-out.transition.border-gray-200.border-t-2.border-l-1.w-full(
          class="hover:scale-110 focus:outline-none hover:text-orange-300 dark:border-gray-600",
          @click="acceptConsent"
        )
          template(v-if="formattedPurposes.length") {{ $t('cookieConsent.ok') }}
          template(v-else) {{ $t('utils.Ok') }}
    template(v-else)
      .overflow-y.p-5(style="max-height: calc(100vh - 14.5rem)")
        p.font-semibold.leading-tight.text-lg(class="lg:text-xl") {{ $t('cookieConsent.consentModal.title') }}
        p.text-sm.mt-2.text-gray-700(class="dark:text-gray-400") {{ $t('cookieConsent.consentModal.description') }}
        p.text-sm.mt-2.text-gray-700(class="dark:text-gray-400") {{ $t('routes.about.cookie.p2') }}
        ul
          li
            a(href="/privacy-policy") {{ $t('footer_menu.privacy_policy') }}
          li
            a(href="/cookie-policy") {{ $t('footer_menu.cookie_policy') }}

        // Purposes
        .mt-6(v-for="item of purposeItems")
          span.relative.inline-block.mr-2.align-middle.select-none.transition.duration-200.ease-in(
            v-if="item.required"
          )
            i.fas.fa-lock
          .relative.inline-block.w-10.mr-2.align-middle.select-none.transition.duration-200.ease-in(v-else)
            input.toggle-checkbox.absolute.block.w-6.h-6.rounded-full.bg-white.border-4.appearance-none.cursor-pointer(
              :id="`toggle-${item.key}`",
              :class="{ 'toggle-checkbox-indeterminate': !item.allEnabled && !item.onlyRequiredEnabled && !item.allDisabled, 'toggle-checkbox-checked': item.allEnabled, 'dark:border-gray-700': true }",
              type="checkbox",
              name="toggle",
              :disabled="item.required",
              :checked="item.allEnabled || (!item.allDisabled && !item.onlyRequiredEnabled)",
              @change="item.onToggle($event.target.checked)"
            )
            label.toggle-label.block.overflow-hidden.h-6.rounded-full.bg-blueGray-300.cursor-pointer(
              :for="`toggle-${item.key}`",
              class="dark:bg-blueGray-700"
            )
          label.font-semibold.leading-tight.text-base(:for="`toggle-${item.key}`", class="lg:text-lg") {{ $t(`cookieConsent.purposes.${item.key}.title`) }}
          p.leading-tight.text-sm.text-gray-700.mt-2(class="dark:text-gray-400") {{ $t(`cookieConsent.purposes.${item.key}.description`) }}

          // Services
          .ml-4
            .mt-4(v-for="service of item.services")
              span.relative.inline-block.mr-2.align-middle.select-none.transition.duration-200.ease-in(
                v-if="item.required"
              )
                i.fas.fa-lock
              .relative.inline-block.w-10.mr-2.align-middle.select-none.transition.duration-200.ease-in(v-else)
                input.toggle-checkbox.absolute.block.w-6.h-6.rounded-full.bg-white.border-4.appearance-none.cursor-pointer(
                  :id="`toggle-${item.key}-${service.title}`",
                  :class="{ 'toggle-checkbox-checked': consents[service.name] || item.required, 'dark:border-gray-700': true }",
                  type="checkbox",
                  name="toggle",
                  :disabled="item.required",
                  :checked="consents[service.name] || item.required",
                  @change="toggleService(service, $event.target.checked)"
                )
                label.toggle-label.block.overflow-hidden.h-6.rounded-full.bg-blueGray-300.cursor-pointer(
                  :for="`toggle-${item.key}-${service.title}`",
                  class="dark:bg-blueGray-700"
                )
              label.font-semibold.leading-tight.text-base(:for="`toggle-${item.key}-${service.title}`", class="lg:text-lg") {{ service.title }}
              p.leading-tight.text-sm.text-gray-700.mt-2(
                v-if="$te(`cookieConsent.${service.name}.description`)",
                class="dark:text-gray-400"
              ) {{ $t(`cookieConsent.${service.name}.description`) }}

      .flex.items-stretch
        button.text-base.rounded-r-none.flex.justify-center.px-4.py-2.rounded-bl-lg.font-bold.cursor-pointer.text-gray-700.duration-200.ease-in-out.transition.border-gray-200.border-t-2.border-r-1.w-full(
          class="hover:scale-110 focus:outline-none hover:text-gray-800 dark:hover:text-gray-400 dark:text-gray-200 dark:border-gray-600",
          @click="customize = false"
        ) {{ $t('cookieConsent.back') }}
        button.text-base.rounded-r-none.flex.justify-center.px-4.py-2.font-bold.cursor-pointer.text-orange-400.duration-200.ease-in-out.transition.border-gray-200.border-t-2.border-l-1.w-full(
          v-if="formattedPurposes.length",
          class="hover:scale-110 focus:outline-none hover:text-orange-300 dark:border-gray-600",
          @click="acceptAll"
        ) {{ $t('cookieConsent.acceptAll') }}
        button.text-base.rounded-r-none.flex.justify-center.px-4.py-2.rounded-bl-lg.font-bold.cursor-pointer.text-orange-400.duration-200.ease-in-out.transition.border-gray-200.border-t-2.border-l-1.w-full(
          class="hover:scale-110 focus:outline-none hover:text-gray-800 dark:hover:text-gray-400 dark:text-orange-300 dark:border-gray-600",
          @click="acceptSelected"
        ) {{ $t('cookieConsent.acceptSelected') }}
