div
  .t-content-container
    h4.title {{ $t(i18nPrefix + 'title') }}

    .t-columns
      .w-full(class="sm:w-1/2")
        yes-no(v-model="split", :label="$t(i18nPrefix + 'slpit')")

      .w-full.mt-4(class="sm:mt-0 sm:w-1/2")
        t-label(
          v-show="split",
          :label="$t('components.trade.split_value', { count: $n(maxSplitValue) })",
          :label-for="splitValueId",
          :type="haveError('splitValue')"
        )
          numberinput(
            :inputId="splitValueId",
            :min="0",
            :max="maxSplitValue",
            v-model.number="splitValue",
            name="splitValue"
          )

    .t-columns.my-4
      .w-full(class="sm:w-1/2")
        yes-no(v-model="showRatio", :label="$t(i18nPrefix + 'show_ratio')")

  .overflow-x-auto.rounded-lg.mt-8.shadow-lg(class="md:w-10/12 md:mx-auto")
    table.min-w-full.divide-y.divide-gray-200.transition-light-dark(class="dark:divide-gray-600")
      thead.bg-gray-50.transition-light-dark(class="dark:bg-gray-900")
        tr
          th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white"
          ) {{ $t(i18nPrefix + 'table.thead.th1') }}
          th.hidden.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="sm:table-cell dark:text-white"
          ) {{ $t(i18nPrefix + 'table.thead.th2') }}
          th.min-w-48.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white"
          ) {{ $t(i18nPrefix + 'table.thead.th3') }}
          th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white"
          ) {{ $t(i18nPrefix + 'table.thead.th4') }}
          th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-show="showRatio",
            scope="col",
            class="dark:text-white"
          ) {{ $t(i18nPrefix + 'table.thead.ratio') }}
          th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-show="split",
            scope="col",
            class="dark:text-white"
          ) {{ $t(i18nPrefix + 'table.thead.split') }}
      tbody.bg-white.divide-y.divide-gray-200.transition-light-dark(class="dark:bg-gray-800 dark:divide-gray-600")
        tr(v-for="(value, key) in agesGoods", :key="key")
          td.px-6.py-4.whitespace-nowrap {{ $t('foe_data.age.' + key) }}
          td.hidden.px-6.py-4.whitespace-nowrap(class="sm:table-cell")
            .inline-flex.flex-row.space-x-2
              figure.w-6.h-6(v-for="good in value.goods")
                img(
                  :src="'/img/foe/goods/' + good.key + '.png'",
                  :alt="$t('foe_data.goods.' + good.key)",
                  :title="$t('foe_data.goods.' + good.key)"
                )
          td.px-6.py-4.whitespace-nowrap.min-w-48
            numberinput(
              :min="0",
              v-model.number="values[key]",
              :name="key + '_value'",
              @input="$event > 0 ? getBestRates(key) : resetFormIfAllZero(key)"
            )
          td.px-6.py-4.whitespace-nowrap
            template(v-if="$data.results[key].show") {{ $n($data.results[key].value) }}
          td.px-6.py-4.whitespace-nowrap(v-show="showRatio")
            template(v-if="$data.results[key].ratio > 0") {{ $n($data.results[key].ratio) }}
          td.px-6.py-4(v-show="split")
            template(v-if="$data.results[key].show") {{ $data.results[key].split }}
