div
  .t-content-container
    .t-columns.mb-4
      .flex-shrink-1.flex-grow-1.w-full
        h3.title.mb-0 {{ $t(i18nPrefix + 'title') }}
      .flex-shrink-0.flex-grow-0.mt-2(class="sm:mt-0")
        nuxt-link#permalink(:to="localePath(permaLink)", exact)
          i.fas.fa-link
          | &nbsp;{{ $t('utils.permalink') }}

    p {{ $t(i18nPrefix + 'p1') }}

    // GB Selector
    .t-columns
      .w-full(class="sm:w-1/2")
        gb-list-select(:current="gb.key", @change="changeGb($event)")

    // Row 1
    .t-columns.my-4.space-y-4(class="sm:space-x-8 sm:space-y-0")
      .w-full(class="sm:w-1/2")
        t-label(:label="$t('utils.From')", label-for="previsionFrom", :type="haveError('from')")
          numberinput(
            inputId="previsionFrom",
            :min="0",
            :max="maxLevel - 2",
            v-model.number="fromInput",
            name="previsionFrom"
          )
      .w-full(class="sm:w-1/2")
        t-label(:label="$t('utils.To', { max: maxLevel - 1 })", label-for="previsionTo", :type="haveError('to')")
          numberinput(
            inputId="previsionTo",
            :min="1",
            :max="maxLevel - 1",
            v-model.number="toInput",
            name="previsionTo"
          )

    // Row 2
    .t-columns.my-4.space-y-4(class="sm:space-x-8 sm:space-y-0")
      .w-full(class="sm:w-1/2")
        yes-no(v-model="customPercentage", :label="$t(i18nPrefix + 'custom_percentage')")

      .w-full(class="sm:w-1/2", v-show="!customPercentage")
        t-label(
          :label="$t('components.gb_investment.gb_investment.form.investor_percentage')",
          label-for="previsionInvestorPercentageGlobal",
          :type="haveError('investorPercentageGlobal')"
        )
          numberinput(
            inputId="previsionInvestorPercentageGlobal",
            :min="0",
            :step="0.1",
            :precision="1",
            v-model.number="investorPercentageGlobal",
            name="investorPercentageGlobal"
          )

    // Row 3
    .flex.flex-col.mb-4(v-show="customPercentage")
      .-my-2.overflow-x-auto(class="sm:-mx-6 lg:-mx-8")
        .py-2.align-middle.inline-block.min-w-full(class="sm:px-6 lg:px-8")
          .shadow.overflow-hidden.border-b.border-gray-200.rounded-lg.transition-light-dark(class="dark:border-gray-500")
            table.min-w-full.divide-y.divide-gray-200.transition-light-dark(class="dark:divide-gray-500")
              thead.bg-gray-50.transition-light-dark(class="dark:bg-gray-700")
                tr
                  th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
                    scope="col",
                    class="dark:text-white"
                  ) {{ $t('components.gb_investment.gb_investment.table.thead.th1') }}
                  th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
                    scope="col",
                    class="dark:text-white"
                  ) {{ $t('components.gb_investment.gb_investment.table.thead.th5') }}
              tbody.bg-white.divide-y.divide-gray-200.transition-light-dark(class="dark:bg-gray-600 dark:divide-gray-500")
                tr(v-for="i in 5", :key="i")
                  td.px-6.py-4.whitespace-nowrap {{ i }}
                  td.px-6.py-4.whitespace-nowrap
                    numberinput(
                      :min="0",
                      :step="0.1",
                      :precision="1",
                      v-model.number="investorPercentageCustom[i - 1]",
                      :name="'investorPercentageCustom_' + i"
                    )

    // Result
    div(v-if="previsionResult !== null")
      p(v-if="from === to || to < from") {{ $t(i18nPrefix + 'message.single', { level: from - 1, preparation: $n(previsionResult.global.totalPreparations), gb: $t('foe_data.gb.' + gb.key), cost: $n(previsionResult.global.cost) }) }}
      p(v-else) {{ $t(i18nPrefix + 'message.multi', { from: from - 1, to: to, preparation: $n(previsionResult.global.totalPreparations), gb: $t('foe_data.gb.' + gb.key), cost: $n(previsionResult.global.cost) }) }}
      p(v-if="previsionDefault.global.totalPreparations !== previsionResult.global.totalPreparations") {{ $tc(i18nPrefix + 'message.diff', previsionDefault.global.totalPreparations - previsionResult.global.totalPreparations, { count: $n(previsionDefault.global.totalPreparations - previsionResult.global.totalPreparations) }) }}

  .t-content-container
    h4.title {{ $t(i18nPrefix + 'estimated_time') }}

    .t-columns.my-4.space-y-4(class="sm:space-x-8 sm:space-y-0")
      .w-full(class="sm:w-1/2")
        t-label(
          :label="$t('components.cf_calculator.block_cfc.fp_by_24h')",
          label-for="previsionFpBy24h",
          :type="haveError('fpBy24h')"
        )
          numberinput(inputId="previsionFpBy24h", :min="0", v-model.number="fpBy24h", name="previsionFpBy24h")
      .w-full(class="sm:w-1/2")
        t-label(
          :label="$t(i18nPrefix + 'prop_already_invested')",
          label-for="previsionAlreadyInvested",
          :type="haveError('alreadyInvested')"
        )
          numberinput(
            inputId="previsionAlreadyInvested",
            :min="0",
            :max="maxCurrentLevel",
            v-model.number="alreadyInvested",
            name="previsionAlreadyInvested"
          )

    div(v-show="(previsionResult !== null) && (fpBy24h > 0)")
      p {{ $t(i18nPrefix + 'message.estimated_time', { time: estimatedTime }) }}
      p {{ $t(i18nPrefix + 'message.estimated_time_swap_threads', { time: estimatedTimeSwapThreads }) }}

  .t-content-container(v-show="from !== to")
    graph-canvas#graph.margin-top-one-em(
      v-show="from < to",
      gtype="line",
      :goptions="options",
      :labels="labels",
      :datasets="datasets"
    )
