div.content
  h3.title.is-3 {{$t('main_menu.help_to_translate_the_site')}}

  p {{$t(i18nPrefix + 'p1')}}

  h4.title.is-4 {{$t($data.i18nPrefix + 'how_to_join_the_team')}}

  p(v-html="$t($data.i18nPrefix + 'p2_html')")

  p {{$t($data.i18nPrefix + 'state_of_translation')}}

  div.has-text-centered
    .columns
      .column.is-three-fifths.is-offset-one-fifth
        b-progress(v-for="elt in sortedLocales"
          :value="$store.get(`translationState@${elt}`)"
          size="is-medium"
          :type="getType($store.get(`translationState@${elt}`))"
          show-value)
            template(v-if="elt !== 'en'") {{$t('common.lang.' + elt.replace("_", "-") + '.en')}} ({{$t('common.lang.' + elt.replace("_", "-") + '.original')}}): {{$n($store.get(`translationState@${elt}`))}}
            template(v-else) {{$t('common.lang.' + elt.replace("_", "-") + '.original')}}: {{$n($store.get(`translationState@${elt}`))}}
