.fixed.bottom-4.right-4
  transition(
    enter-active-class="transition-opacity ease-out duration-300",
    enter-class="opacity-0",
    enter-to-class="opacity-100",
    leave-active-class="transition-opacity ease-in duration-200",
    leave-class="opacity-100",
    leave-to-class="opacity-0"
  )
    t-button(v-if="isVisible", @click="goToTop")
      font-awesome-icon(:icon="['fas', 'angle-double-up']")
