div
  .t-content-container
    h4.title {{ $t(i18nPrefix + 'title') }}

    .t-columns.my-4.space-y-4(class="sm:space-x-8 sm:space-y-0")
      .w-full(class="sm:w-1/2")
        t-label#current-age-container(
          :label="$t('utils.choose_age')",
          label-for="current-age",
          :type="haveError('currentAge')"
        )
          t-select#current-age.mt-2(v-model="currentAge", name="current-age")
            option(value="__all__", :selected="currentAge == '__all__'", :id="'option_all'", autocomplete="off") {{ $t(i18nPrefix + 'all_ages') }}
            option(
              v-for="age in ages",
              :value="age.key",
              :key="age.key",
              :selected="currentAge == age.key",
              :id="'option_' + age.key",
              autocomplete="off"
            ) {{ $t('foe_data.age.' + age.key) }}

      .w-full(class="sm:w-1/2", v-if="!errors.currentAge && currentAge !== '__all__'")
        t-label(
          :label="$t(i18nPrefix + 'choose_province')",
          label-for="provinceContainer",
          :type="haveError('province')"
        )
          t-select#provinceContainer.mt-2(v-model="province")
            option(value="__all__", :selected="province.key == '__all__'", :id="'option_all'", autocomplete="off") {{ $t(i18nPrefix + 'all_provinces') }}
            option(
              v-if="campaignCost !== null",
              v-for="value of sortProvinceArray(campaignCost, currentAge)",
              :key="value.key",
              :selected="province.key === value.key",
              :value="value"
            ) {{ $t('foe_data.province.' + value.key) }}

  t-message.my-8.shadow-lg.mx-0(
    v-show="haveUnknownCosts",
    class="md:mx-16 lg:mx-32 xl:mx-64",
    :title="$t('utils.Information')",
    type="warning",
    has-icon,
    :closable="false"
  ) {{ $t(i18nPrefix + 'message.haveUnknownCosts') }}

  // All ages
  .overflow-x-auto.rounded-lg.mt-8.shadow-lg(v-if="currentAge === '__all__'")
    table.min-w-full.divide-y.divide-gray-200.transition-light-dark(class="dark:divide-gray-600")
      thead.bg-gray-50.transition-light-dark(class="dark:bg-gray-900")
        tr
          th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            :colspan="nbColumns"
          ) {{ $t(i18nPrefix + 'all_ages') }}
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            rowspan=2
          ) {{ $t('components.simple_trade.table.thead.th1') }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            rowspan=2
          ) {{ $t('utils.Conquered') }}
          template(v-for="age in ages")
            th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
              v-if="age.key in campaignTotalCost._totalCost",
              colspan=5,
              scope="col",
              class="dark:text-white"
            ) {{ $t('foe_data.age.' + age.key) }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="specialGood in campaignTotalCost._totalCost._specialGoods",
            scope="col",
            class="dark:text-white"
          ) {{ $t('foe_data.goods.' + specialGood.key) }}
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="value in getGoodsOrSpecialGoods(true)",
            scope="col",
            class="dark:text-white"
          )
            figure.w-6.h-6.m-auto
              img(
                :src="'/img/foe/goods/' + value.key + '.png'",
                :alt="value.displayName",
                :title="$t('foe_data.goods.' + value.key)"
              )
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="value in getGoodsOrSpecialGoods(false)",
            scope="col",
            class="dark:text-white"
          )
            figure.w-6.h-6.m-auto
              img(
                :src="'/img/foe/special_goods/' + value.key + '.png'",
                :alt="value.displayName",
                :title="$t('foe_data.goods.' + value.key)"
              )

      tbody.bg-white.divide-y.divide-gray-200.transition-light-dark(class="dark:bg-gray-800 dark:divide-gray-600")
        tr(v-for="(age, ageKey) in campaignTotalCost", v-if="ageKey in ages")
          th.px-6.py-4.whitespace-nowrap.text-center.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="row",
            class="dark:text-white"
          ) {{ $t('foe_data.age.' + ageKey) }}
          td.px-6.py-4.whitespace-nowrap.text-center
            t-checkbox(
              :checked="campaignConquired[ageKey]._state === 1 ? true : campaignConquired[ageKey]._state === 0 ? false : undefined",
              :indeterminate="campaignConquired[ageKey]._state === -1",
              @input="switchConquired({ age: ageKey }, $event ? 1 : 0)"
            )
          template(v-for="(cost, age) in campaignTotalCost._totalCost", v-if="age in ages")
            template(v-if="age in campaignTotalCost[ageKey]._totalCost")
              td.px-6.py-4.whitespace-nowrap.text-center(
                v-for="(cost, key) in campaignTotalCost[ageKey]._totalCost[age]"
              ) {{ $n(cost.value) }}
            template(v-else)
              td.px-6.py-4(v-for="i in 5")
            td.td.px-6.py-4(v-else, v-for="i in 5")
          td.px-6.py-4.whitespace-nowrap.text-center(v-for="(cost, age) in campaignTotalCost._totalCost._specialGoods")
            span(v-if="cost.key in campaignTotalCost[ageKey]._totalCost._specialGoods") {{ $n(campaignTotalCost[ageKey]._totalCost._specialGoods[cost.key].value) }}

      tfoot.bg-gray-50.transition-light-dark(class="dark:bg-gray-900")
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            colspan=2
          ) {{ $t('utils.Total') }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            v-for="good in getGoodsOrSpecialGoods(true)"
          ) {{ $n(good.value) }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            v-for="specialGood in getGoodsOrSpecialGoods(false)"
          ) {{ $n(specialGood.value) }}

  // All provinces
  .overflow-x-auto.rounded-lg.mt-8.shadow-lg(v-else-if="province === '__all__'")
    table.min-w-full.divide-y.divide-gray-200.transition-light-dark(class="dark:divide-gray-600")
      thead.bg-gray-50.transition-light-dark(class="dark:bg-gray-900")
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            :colspan="nbColumns"
          ) {{ $t('foe_data.age.' + currentAge) }}
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            rowspan=2
          ) {{ $t(i18nPrefix + 'provinces') }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            rowspan=2
          ) {{ $t('utils.Conquered') }}
          template(v-for="age in ages")
            th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
              v-if="age.key in campaignTotalCost[currentAge]._totalCost",
              colspan=5,
              scope="col",
              class="dark:text-white"
            ) {{ $t('foe_data.age.' + age.key) }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="specialGood in campaignTotalCost[currentAge]._totalCost._specialGoods",
            scope="col",
            class="dark:text-white"
          ) {{ $t('foe_data.goods.' + specialGood.key) }}
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="value in getGoodsOrSpecialGoods(true)",
            scope="col",
            class="dark:text-white"
          )
            figure.w-6.h-6.m-auto
              img(
                :src="'/img/foe/goods/' + value.key + '.png'",
                :alt="value.displayName",
                :title="$t('foe_data.goods.' + value.key)"
              )
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="value in getGoodsOrSpecialGoods(false)",
            scope="col",
            class="dark:text-white"
          )
            figure.w-6.h-6.m-auto
              img(
                :src="'/img/foe/special_goods/' + value.key + '.png'",
                :alt="value.displayName",
                :title="$t('foe_data.goods.' + value.key)"
              )

      tbody.bg-white.divide-y.divide-gray-200.transition-light-dark(class="dark:bg-gray-800 dark:divide-gray-600")
        tr(v-for="(index, province) in campaignTotalCost[currentAge].provinces")
          th.px-6.py-4.whitespace-nowrap.text-center.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="row",
            class="dark:text-white"
          ) {{ $t('foe_data.province.' + province) }}
          td.px-6.py-4.whitespace-nowrap.text-center
            t-checkbox(
              :checked="campaignConquired[currentAge][province]._state === 1 ? true : campaignConquired[currentAge][province]._state === 0 ? false : undefined",
              :indeterminate="campaignConquired[currentAge][province]._state === -1",
              @input="switchConquired({ age: currentAge, province: province }, $event ? 1 : 0)"
            )
          template(v-for="(cost, age) in campaignTotalCost[currentAge]._totalCost", v-if="age in ages")
            template(v-if="age in campaignTotalCost[currentAge].provinces[province]._totalCost")
              td.px-6.py-4.whitespace-nowrap.text-center(
                v-for="(cost, key) in campaignTotalCost[currentAge].provinces[province]._totalCost[age]"
              ) {{ $n(cost.value) }}
            template(v-else)
              td.px-6.py-4(v-for="i in 5")
          td.px-6.py-4.whitespace-nowrap.text-center(
            v-for="(cost, age) in campaignTotalCost[currentAge]._totalCost._specialGoods"
          )
            span(v-if="cost.key in campaignTotalCost[currentAge].provinces[province]._totalCost._specialGoods") {{ $n(campaignTotalCost[currentAge].provinces[province]._totalCost._specialGoods[cost.key].value) }}

      tfoot.bg-gray-50.transition-light-dark(class="dark:bg-gray-900")
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            colspan=2
          ) {{ $t('utils.Total') }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            v-for="good in getGoodsOrSpecialGoods(true)"
          ) {{ $n(good.value) }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            v-for="specialGood in getGoodsOrSpecialGoods(false)"
          ) {{ $n(specialGood.value) }}

  // Sector view
  .overflow-x-auto.rounded-lg.mt-8.shadow-lg(v-else-if="!errors.currentAge && !errors.province")
    table.min-w-full.divide-y.divide-gray-200.transition-light-dark(class="dark:divide-gray-600")
      thead.bg-gray-50.transition-light-dark(class="dark:bg-gray-900")
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            :colspan="nbColumns"
          ) {{ $t('foe_data.province.' + province.key) }}
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            rowspan=2
          ) {{ $t('utils.Rewards') }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            rowspan=2
          ) {{ $t('utils.Conquered') }}
          template(v-for="age in ages")
            th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
              v-if="age.key in campaignTotalCost[currentAge].provinces[province.key]._totalCost",
              colspan=5,
              scope="col",
              class="dark:text-white"
            ) {{ $t('foe_data.age.' + age.key) }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="specialGood in campaignTotalCost[currentAge].provinces[province.key]._totalCost._specialGoods",
            scope="col",
            class="dark:text-white"
          ) {{ $t('foe_data.goods.' + specialGood.key) }}
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="value in getGoodsOrSpecialGoods(true)",
            scope="col",
            class="dark:text-white"
          )
            figure.w-6.h-6.m-auto
              img(
                :src="'/img/foe/goods/' + value.key + '.png'",
                :alt="value.displayName",
                :title="$t('foe_data.goods.' + value.key)"
              )
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            v-for="value in getGoodsOrSpecialGoods(false)",
            scope="col",
            class="dark:text-white"
          )
            figure.w-6.h-6.m-auto
              img(
                :src="'/img/foe/special_goods/' + value.key + '.png'",
                :alt="value.displayName",
                :title="$t('foe_data.goods.' + value.key)"
              )

      tbody.bg-white.divide-y.divide-gray-200.transition-light-dark(class="dark:bg-gray-800 dark:divide-gray-600")
        tr(v-for="(sector, index) in province.sectors")
          td.px-6.py-4.whitespace-nowrap.text-center
            .inline-flex(v-for="reward in sector.reward")
              div(v-if="reward.type !== 'good_bonus'")
                figure.w-6.h-6(style="margin-left: 0.5em !important; margin-right: 1em !important")
                  img(
                    :src="'/img/foe/bonus/' + reward.type + '.png'",
                    :alt="$t('foe_data.bonus.' + reward.type + '.name')",
                    :title="$t('foe_data.bonus.' + reward.type + '.name')"
                  )
              div
                span(v-if="reward.type === 'good_bonus'") {{ $t('foe_data.bonus.good_bonus.name') }}
                span(v-else) {{ $n(reward.value) }}
          td.px-6.py-4.whitespace-nowrap.text-center
            t-checkbox(
              :checked="campaignConquired[currentAge][province.key].sectors[index]",
              @input="switchConquired({ age: currentAge, province: province.key, sector: index }, $event)"
            )
          td.px-6.py-4.whitespace-nowrap.text-center(v-for="value in getGoodsOrSpecialGoods(true)")
            template(v-if="Object.keys(sector).indexOf('cost') >= 0")
              div(v-for="good in sector.cost")
                p(v-if="good.key === value.key")
                  strike(v-if="campaignConquired[currentAge][province.key].sectors[index]") {{ $n(good.value) }}
                  span(v-else) {{ $n(good.value) }}
            div(v-else)
              p ?
          td.px-6.py-4.whitespace-nowrap.text-center(v-for="value in getGoodsOrSpecialGoods(false)")
            template(v-if="Object.keys(sector).indexOf('cost') >= 0")
              div(v-for="good in sector.cost")
                p(v-if="good.key === value.key")
                  strike(v-if="campaignConquired[currentAge][province.key].sectors[index]") {{ $n(good.value) }}
                  span(v-else) {{ $n(good.value) }}
            div(v-else)
              p ?

      tfoot.bg-gray-50.transition-light-dark(class="dark:bg-gray-900")
        tr
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider.space-y-2.flex.flex-col.items-center(
            scope="col",
            class="dark:text-white"
          )
            template(v-for="reward in province.reward")
              .inline-flex.space-x-2.items-center(v-if="reward.type !== 'good'")
                div(v-if="reward.type !== 'good_bonus'")
                  figure(:class="reward.type !== 'pvp_tower' ? 'w-6 h-6' : 'w-8 h-8'")
                    img(
                      v-if="reward.type !== 'pvp_tower'",
                      :src="'/img/foe/bonus/' + reward.type + '.png'",
                      :alt="$t('foe_data.bonus.' + reward.type + '.name')",
                      :title="$t('foe_data.bonus.' + reward.type + '.name')"
                    )
                    img(
                      v-else,
                      :src="'/img/foe/bonus/' + currentAge + '_tower.png'",
                      :alt="$t('foe_data.bonus.' + reward.type + '.name')",
                      :title="$t('foe_data.bonus.' + reward.type + '.name')"
                    )
                div
                  span(v-if="reward.type === 'good_bonus'") {{ $t('foe_data.bonus.good_bonus.name') }}
                    template(v-if="reward.age")
                      | &nbsp;
                      span(v-tippy="{ content: $t('foe_data.age.' + reward.age) }") {{ $t('foe_data.age_short.' + reward.age) }}
                  span(v-else-if="reward.value && reward.value > 0") {{ $n(reward.value) }}
              template(v-else)
                .inline-flex.space-x-2.items-center(v-for="good in agesGoods[currentAge].goods", :key="good.key")
                  template(v-if="reward.type !== 'good_bonus'")
                    figure.w-6.h-6
                      img(
                        :src="'/img/foe/goods/' + good.key + '.png'",
                        :alt="$t('foe_data.goods.' + good.key)",
                        :title="$t('foe_data.goods.' + good.key)"
                      )
                  div
                    span {{ $n(reward.value) }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white"
          ) {{ $t('utils.Total') }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            v-for="good in getGoodsOrSpecialGoods(true)"
          ) {{ $n(good.value) }}
          th.px-6.py-3.text-center.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(
            scope="col",
            class="dark:text-white",
            v-for="specialGood in getGoodsOrSpecialGoods(false)"
          ) {{ $n(specialGood.value) }}
