.max-h-screen.overflow-auto
  .bg-coolGray-100.px-4.py-3.transition-light-dark(class="sm:px-6 sm:flex sm:flex-row sm:justify-between dark:bg-gray-600")
    .my-3.text-center.w-full(class="sm:text-left")
      .text-lg.leading-6.font-medium.text-gray-900.text-center(class="dark:text-white")
        h3.leading-6.font-medium.text-gray-900(
          class="dark:text-white",
          style="font-size: 1.75rem; line-height: 1.75rem; font-weight: 500"
        ) {{ $t('components.site_layout.global_config') }}

  .bg-white.px-4.pt-5.pb-4.transition-light-dark(class="sm:p-6 sm:pb-4 dark:bg-gray-700")
    div(class="sm:flex sm:items-start sm:flex-col")
      .mt-2(class="sm:ml-4")
        yes-no(v-model="fixedMainMenu", :label="$t(i18nPrefix + 'fixed_main_menu')", customLabelClass="text-xl")
      .mt-2(class="sm:ml-4")
        yes-no(
          v-model="disableUpdateNotification",
          :label="$t(i18nPrefix + 'disable_update_notification')",
          customLabelClass="text-xl"
        )

        .mt-4
        t-label.text-xl(:label="$t(i18nPrefix + 'select_gb_style')")
        ul.list-none(style="list-style-type: none")
          li.mt-2(v-for="(style, index) in gbSelectModes", :key="style.key")
            t-label
              input(type="radio", v-model="gbSelectMode", :value="style.key")
              span.ml-3 {{ style.text }}

        .mt-4
        t-label.text-xl(:label="$t(i18nPrefix + 'day_night')")
        ul.list-none(style="list-style-type: none")
          li.mt-2(v-for="(style, index) in dayNightModes", :key="style.key")
            t-label
              input(type="radio", v-model="dayNightMode", :value="style.key")
              span.ml-3 {{ style.text }}

        day-night(
          v-if="dayNightMode === 'auto'",
          @dayStartChange="$emit('dayStartChange')",
          @nightStartChange="$emit('nightStartChange')"
        )

      // Custom GB Names
      .ml-4.mt-4
        t-label.text-xl {{ $t(i18nPrefix + 'custom_gb_names') }}
        .space-y-2
          .t-columns(v-for="gb in gbListAlpha", :key="gb.value")
            .w-full(class="sm:w-1/2")
              t-label(:labelFor="'customGbName_' + gb.value") {{ $t('foe_data.gb.' + gb.value) }}
            .w-full(class="sm:w-1/2")
              t-input(
                :inputId="'customGbName_' + gb.value"
                :value="$store.get('global/customGbName@' + gb.value)",
                @input="updateCustomGbName(gb.value, $event)",
                :placeholder="$t('foe_data.gb_short.' + gb.value)"
              )

  .bg-coolGray-100.px-4.py-3.space-x-0.space-y-4.transition-light-dark.flex.flex-col(
    class="sm:px-6 sm:flex sm:flex-row sm:justify-between sm:space-x-4 sm:space-y-0 dark:bg-gray-600"
  )
    t-button(:title="$t('utils.Reset')", :label="$t('utils.Reset')", @click="resetSettings()", type="danger")
    t-button(
      :title="$t('utils.Confirm') + ' / ' + $t('utils.Close')",
      :label="$t('utils.Confirm') + ' / ' + $t('utils.Close')",
      @click="$parent.$parent.close()",
      type="success"
    )
