div.content#gbiContent
  div.columns
    div.column.is-half
      div.field
        .media
          span.media-content
            h3.title.is-3 {{$t('foe_data.gb.' + gb.key)}}
          div.media-right#bookmark
            b-tooltip.is-hidden-touch(type='is-dark' :label="$t(i18nPrefix + (isBookmarked ? 'remove_favourite' : 'add_favourite'))")
              a(@click="toggleFavourite")
                font-awesome-icon(:icon="[isBookmarked ? 'fas' : 'far', 'bookmark']" size="2x")
            b-tooltip.is-hidden-desktop(type='is-dark' :label="$t(i18nPrefix + (isBookmarked ? 'remove_favourite' : 'add_favourite'))" position="is-left")
              a(@click="toggleFavourite")
                font-awesome-icon(:icon="[isBookmarked ? 'fas' : 'far', 'bookmark']" size="2x")
      div.field#gbListSelect
        gb-list-select(:current="gb.key" @change="goTo($event)")
    div.column.is-half
      div.field(v-show="canPermalink")
        nuxt-link#permalink.level-right(:to="localePath(permaLink)" exact)
          span.icon
            i.fas.fa-link
          | &nbsp;{{$t('utils.permalink')}}
      div.field(style="text-align:right !important;")
        div.content
          a.is-text.has-text-white(@click.prevent="startTour")
            article.tutorial-button(style="display:inline-block;")
              span.icon.is-icon-2rem
                font-awesome-icon(icon="question")
              span.has-text-centered <br /> {{$t('utils.Tutorial')}}

  template(v-if="dataReady")
    h4.title.is-4 {{$t($data.i18nPrefix + 'gb_investment.title')}}

    p {{$t($data.i18nPrefix + 'gb_investment.description.p1')}}

    div.columns.form-short
      div.column.is-half
        t-label#fieldId(:label="$t(i18nPrefix + 'gb_investment.form.level', { level: levelNormalized, fromLevel: levelNormalized - 1, min: 1, max: maxLevel })" label-for="giLevel" :type="haveError('level')")
          numberinput(inputId="giLevel" :min="1" :max="maxLevel" v-model.number="level" name="level"  showIncDec)
      div.column.is-half#fieldInvestorPercentage
        t-label(:label="$t(i18nPrefix + 'gb_investment.form.investor_percentage')" label-for="giInvestorPercentageGlobal" :type="haveError('investorPercentageGlobal')")
          numberinput(inputId="giInvestorPercentageGlobal" :min="0" :step="0.1" :precision="1" v-model.number="investorPercentageGlobal" name="investorPercentageGlobal"  showIncDec)

    div.columns.form-short.pt-4(v-if="result !== null")
      div.column.is-half#fieldOwnerInvestment
        t-label(:label="$t(i18nPrefix + 'gb_investment.form.owner_investment', { max: result.cost - investorParticipationNormalizedSum })" label-for="giOwnerInvestment" :type="haveError('ownerInvestment')")
          numberinput(inputId="giOwnerInvestment" :min=0 :max="result.cost - investorParticipationNormalizedSum" v-model.number="ownerInvestment" name="ownerInvestment" showIncDec)
      div.column.is-half
        t-label#fieldAddInvestors(:label="$t(i18nPrefix + 'gb_investment.form.add_investors', { min: 1, max: maxInvestment })" label-for="giAddInvestors" :type="haveError('addInvestors')")
          numberinput(inputId="giAddInvestors" :min="0" :max="maxInvestment" v-model.number="addInvestors" @keyup.native.enter="addInvestor" name="addInvestors" :isDisabled="maxInvestment <= 0" @click.native="haveReadTipAboutAddInvestor")
            template(#after="{ isDisabled, isInvalid }")
              t-button(
                :title="$t('utils.Add')"
                @click="addInvestor"
                :disabled="maxInvestment <= 0"
                iconLeft="fas fa-user-plus"
                :borderLeft="false"
                :roundedTopLeft="false"
                :roundedBottomLeft="false")
    div.columns.form-short.pt-4(v-if="result !== null")
      // Investor participation
      div.column(v-if="investorParticipation.length > 0")
        t-label(:label="$t(i18nPrefix + 'gb_investment.form.investors_list')")
        .flex.flex-wrap.justify-start.flex-row.space-x-3
          t-tag.mt-3(v-for="(investor,index) in investorParticipation" :type="isNaN(investor.value) ? 'danger' : 'info'" attached closable @close="removeInvestor(index)" size="is-medium") {{investor.value}}

    div.columns(style="margin-top:0.5rem !important;")
      div.column.is-half
        yes-no#fieldShowSnipe(v-model="showSnipe" :label="$t(i18nPrefix + 'gb_investment.form.show_snipe')")
      div.column.is-half#fieldYourArcBonus(v-if="showSnipe || tutoMode")
        t-label(:label="$t('components.secure_position.block_place.your_arc_bonus')" label-for="giYourArcBonus" :type="haveError('yourArcBonus')")
          numberinput(inputId="giYourArcBonus" :min="0" v-model.number="yourArcBonus" :step="0.1" :precision="1" name="your-arc-bonus" showIncDec)

    div.columns(:class="vueCardClass")
        div.column.is-half
          yes-no#fieldDisplayCard(v-model="displayTableCard" :label="$t(i18nPrefix + 'gb_investment.form.display_card')")

    div.table-wrapper.overflow-x-auto(v-if="result !== null")
      table.table.is-bordered.is-striped.is-narrow.is-fullwidth.gbiTable(:class="displayTableCard ? 'is-hidden-touch' : ''")
        thead
          tr
            th.has-text-centered(:colspan="tutoMode ? maxColumns : nbColumns")
              p {{$t($data.i18nPrefix + 'gb_investment.table.title', {gb_key: $t('foe_data.gb.' + gb.key), level: result.level, fromLevel: (result.level - 1)})}}
          tr(v-if="investorParticipationNormalizedSum || ownerInvestmentNormalized")
            th.has-text-centered(:colspan="tutoMode ? maxColumns : nbColumns")
              progress.progress.is-success(:value="investorParticipationNormalizedSum + ownerInvestmentNormalized" :max="result.cost" style="margin-bottom: 0;")
              p {{$n(investorParticipationNormalizedSum + ownerInvestmentNormalized) + '/' + $n(result.cost)}} ({{$n(result.cost - (investorParticipationNormalizedSum + ownerInvestmentNormalized))}})
          tr
            th.tableDataPlace {{$t($data.i18nPrefix + 'gb_investment.table.thead.th1')}}
            th.tableDataDefaultRewards {{$t($data.i18nPrefix + 'gb_investment.table.thead.th2')}}
            th.tableDataFpToPutByTheOwner {{$t($data.i18nPrefix + 'gb_investment.table.thead.th3')}}
            th.tableDataRewardsWithRate {{$t($data.i18nPrefix + 'gb_investment.table.thead.th4')}}
            th.tableDataNumberOfFPAlreadyIn(v-if="investorParticipationNormalizedSum || tutoMode") {{$t($data.i18nPrefix + 'gb_investment.table.thead.fp_already_putin')}}
            th.tableDataSpotSnipe(v-show="showSnipe|| tutoMode") {{$t($data.i18nPrefix + 'gb_investment.table.thead.spot_snipe')}}
            th.tableDataPercentageInvestors {{$t($data.i18nPrefix + 'gb_investment.table.thead.th5')}}
            th.tableDataIsSniper(v-show="investorParticipationNormalizedSum|| tutoMode") {{$t($data.i18nPrefix + 'gb_investment.table.thead.is_sniper')}}
            th.tableDataIncludeInCopyBoxes(width="100px") {{$t($data.i18nPrefix + 'gb_investment.table.thead.th6')}}
        tbody
          tr(v-for="(place, i) in result.investment")
            // Place
            td.has-text-right {{$n(i + 1)}}
            // Default reward
            td.has-text-right {{$n(place.reward)}}
            // Owner preparation
            td.has-text-right
              p(v-if="(place.preparation > 0) && (ownerInvestmentNormalized > 0)") {{$n(place.preparation)}} (
                template(v-if="place.preparation - ownerInvestmentNormalized > 0")
                  b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_owner_investment')" dashed)
                    span.has-text-danger {{$n(place.preparation - ownerInvestmentNormalized)}}
                  | )
                  a(@click.prevent="ownerInvestment = place.preparation")
                    span.icon(style="vertical-align: middle;")
                      i.fas.fa-plus-square
                template(v-else)
                  span.has-text-success {{$t('utils.Secured')}}
                  | )
              p(v-else) {{$n(place.preparation)}}
                template(v-if="place.preparation === 0")
                  | &nbsp;(
                  span.has-text-success {{$t('utils.Secured')}}
                  | )
                a(v-else @click.prevent="ownerInvestment = place.preparation")
                  span.icon(style="vertical-align: middle;")
                    i.fas.fa-plus-square
            // Reward with arc bonus
            td.has-text-right
              p {{$n(place.expectedParticipation)}}
                a(v-if="!place.isInvestorParticipation" @click.prevent="addSpecificInvestor(place.expectedParticipation)")
                  span.icon(style="vertical-align: middle;")
                    i.fas.fa-plus-square
            // Current participation
            td.has-text-right(v-if="investorParticipationNormalizedSum || tutoMode" width="150px")
              template(v-if="place.isInvestorParticipation")
                p {{$n(place.participation)}} (
                  template(v-if="place.roi > 0")
                    span.icon.is-small.has-text-success(style="vertical-align: middle;")
                      i.fas.fa-arrow-up
                      | &nbsp;
                    b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.profit', { count: $n(Math.abs(place.roi)) })" dashed) {{$n(Math.abs(place.roi))}}

                  template(v-else-if="place.roi < 0")
                    span.icon.is-small.has-text-danger(style="vertical-align: middle;")
                      i.fas.fa-arrow-down
                      | &nbsp;
                    b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$tc(i18nPrefix + 'gb_investment.table.tbody.loss', Math.abs(place.roi), { count: $n(Math.abs(place.roi)) })" dashed) {{$n(Math.abs(place.roi))}}

                  b-tooltip(v-else :type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.neutral')" dashed)
                    span.icon.is-small(style="vertical-align: middle;")
                      i.fas.fa-exchange-alt
                  | )
              template(v-else)
                p 0
                  template(v-if="place.participation > 0") &nbsp;(
                    b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_expected_investment')" dashed) {{$n(place.participation)}}
                    | )
            // Spot / Snipe
            td.has-text-right(v-show="showSnipe|| tutoMode" width="110px")
              template(v-if="place.snipe.fp === -1")
                span.icon.is-small(style="vertical-align: middle;")
                  i.fas.fa-lock

              p.snipe.fp(v-else-if="place.snipe.fp > 0") {{$n(place.snipe.fp)}} (
                template(v-if="place.snipe.roi > 0")
                  span.icon.is-small.has-text-success(style="vertical-align: middle;")
                    i.fas.fa-arrow-up
                    | &nbsp;
                  b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.profit', { count: $n(Math.abs(place.roi)) })" dashed) {{$n(Math.abs(place.snipe.roi))}}

                template(v-else-if="place.snipe.roi < 0")
                  span.icon.is-small.has-text-danger(style="vertical-align: middle;")
                    i.fas.fa-arrow-down
                    | &nbsp;
                  b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$tc(i18nPrefix + 'gb_investment.table.tbody.loss', Math.abs(place.snipe.roi), { count: $n(Math.abs(place.snipe.roi)) })" dashed) {{$n(Math.abs(place.snipe.roi))}}

                b-tooltip(v-else :type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.neutral')" dashed)
                  span.icon.is-small(style="vertical-align: middle;")
                    i.fas.fa-exchange-alt
                | )
            // Custom arc bonus
            td
              numberinput(:min="0" :step="0.1" :precision="1" v-model.number="investorPercentageCustom[i]" :name="'investorPercentageCustom_' + i")
            // Potential sniper switch
            td(v-show="investorParticipation.length > 0 || tutoMode" style="text-align: center; vertical-align: middle;")
              template(v-if="place.defaultParticipationIndex >= 0")
                t-checkbox(v-model="investorParticipation[place.defaultParticipationIndex].isPotentialSniper" @input="changeIsPotentialSniper(place.defaultParticipationIndex, $event)")
            // Place free
            td(style="text-align: center; vertical-align: middle;")
              t-label
                t-checkbox(v-model="placeFree[i].state" @input="changePlaceFree(i, $event)")

          template(v-if="(result.otherInvestment.length && showExtraInvestors) || tutoMode")
            tr(v-for="(place, i) in result.otherInvestment")
              // Place
              td.has-text-right {{$n(i + result.investment.length + 1)}}
              // Skip useless columns
              td(colspan=3)
              // Current participation
              td.has-text-right
                template(v-if="place.isInvestorParticipation")
                  p {{$n(place.participation)}}
                template(v-else)
                  p 0
                    template(v-if="place.participation > 0") &nbsp;(
                      b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_expected_investment')" dashed) {{$n(place.participation)}}
                      | )
              td(:colspan="nbColumns-7")
              // Potential sniper switch
              td(style="text-align: center; vertical-align: middle;")
                t-checkbox(v-model="investorParticipation[place.defaultParticipationIndex].isPotentialSniper" @input="changeIsPotentialSniper(place.defaultParticipationIndex, $event)")
              td

        tfoot
          tr(v-if="result.otherInvestment.length")
            th.has-text-centered(:colspan="tutoMode ? maxColumns : nbColumns")
              p.control.has-text-centered
                button.button.is-info(v-if="!showExtraInvestors" @click="showExtraInvestors = true")
                  span.icon
                    i.fas.fa-eye
                  | &nbsp;&nbsp; {{$tc(i18nPrefix + 'gb_investment.table.tbody.button_show_extra_investor', result.otherInvestment.length, { count: $n(result.otherInvestment.length) })}}

                button.button.is-info(v-else @click="showExtraInvestors = false")
                  span.icon
                    i.fas.fa-eye-slash
                  | &nbsp;&nbsp; {{$tc(i18nPrefix + 'gb_investment.table.tbody.button_hide_extra_investor', result.otherInvestment.length, { count: $n(result.otherInvestment.length) })}}
          tr
            th(:colspan="tutoMode ? maxColumns -1 : nbColumns - 1") {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.total_preparation')}}
            td
              p.level-right {{$n(result.totalPreparations)}}
                template(v-if="ownerInvestmentNormalized > 0 && result.totalPreparations - ownerInvestmentNormalized > 0") &nbsp;(
                  b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tfoot.tooltip_owner_investment')" position="is-left" dashed)
                    span.has-text-danger {{$n(result.totalPreparations - ownerInvestmentNormalized)}}
                  | )
          tr
            th(:colspan="tutoMode ? maxColumns -1 : nbColumns - 1") {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.level_cost')}}
            td
              p.level-right {{$n(result.cost)}}

    //////////////////////////
    // Mobile table version //
    //////////////////////////

    div.is-hidden-desktop.is-hidden-widescreen(v-if="result !== null && displayTableCard")
      div.table-wrapper
        table.table.has-table-cards.gbiTable
          thead
            tr
              th.has-text-centered(:colspan=2)
                p {{$t($data.i18nPrefix + 'gb_investment.table.title', {gb_key: $t('foe_data.gb.' + gb.key), level: result.level, fromLevel: (result.level - 1)})}}
            tr(v-if="investorParticipationNormalizedSum || ownerInvestmentNormalized")
              th.has-text-centered(:colspan=2)
                progress.progress.is-success(:value="investorParticipationNormalizedSum + ownerInvestmentNormalized" :max="result.cost" style="margin-bottom: 0;")
                p {{$n(investorParticipationNormalizedSum + ownerInvestmentNormalized) + '/' + $n(result.cost)}} ({{$n(result.cost - (investorParticipationNormalizedSum + ownerInvestmentNormalized))}})
          // Table content
          tbody
            template(v-for="(props, index) in result.investment.concat(showExtraInvestors ? result.otherInvestment : [])")
              // Place
              tr.tableDataPlace
                th {{ $t(i18nPrefix + 'gb_investment.table.thead.th1') }}
                td.has-text-right {{ $n(index + 1) }}
              // Default reward
              tr.tableDataDefaultRewards(v-if="index < result.investment.length")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th2') }}
                td.has-text-right {{ $n(props.reward) }}
              // Owner preparation
              tr.tableDataFpToPutByTheOwner(v-if="index < result.investment.length")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th3') }}
                td.has-text-right
                  p(v-if="(props.preparation > 0) && (ownerInvestmentNormalized > 0)") {{$n(props.preparation)}} (
                    template(v-if="props.preparation - ownerInvestmentNormalized > 0")
                      b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_owner_investment')" position="is-left" dashed)
                        span.has-text-danger {{$n(props.preparation - ownerInvestmentNormalized)}}
                      | )
                      a(@click.prevent="ownerInvestment = props.preparation")
                        span.icon(style="vertical-align: middle;")
                          i.fas.fa-plus-square
                    template(v-else)
                      span.has-text-success {{$t('utils.Secured')}}
                      | )
                  p(v-else) {{$n(props.preparation)}}
                    template(v-if="props.preparation === 0")
                      | &nbsp;(
                      span.has-text-success {{$t('utils.Secured')}}
                      | )
                    a(v-else @click.prevent="ownerInvestment = props.preparation")
                      span.icon(style="vertical-align: middle;")
                        i.fas.fa-plus-square
              // Reward with arc bonus
              tr.tableDataRewardsWithRate(v-if="index < result.investment.length")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th4') }}
                td.has-text-right {{ $n(props.expectedParticipation) }}
                  a(v-if="!props.isInvestorParticipation" @click.prevent="addSpecificInvestor(props.expectedParticipation)")
                    span.icon(style="vertical-align: middle;")
                      i.fas.fa-plus-square
              // Current participation
              tr.tableDataNumberOfFPAlreadyIn(v-if="investorParticipationNormalizedSum")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.fp_already_putin') }}
                td(v-if="props.isInvestorParticipation")
                  p {{$n(props.participation)}}
                td(v-else)
                  p 0
                    template(v-if="props.participation > 0") &nbsp;(
                      b-tooltip(position="is-left" :type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.tooltip_expected_investment')" dashed) {{$n(props.participation)}}
                      | )
              // Spot / Snipe
              tr.tableDataSpotSnipe(v-if="showSnipe && index < result.investment.length")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.spot_snipe') }}
                td
                  template(v-if="props.snipe.fp === -1")
                    span.icon.is-small(style="vertical-align: middle;")
                      i.fas.fa-lock

                  p.snipe.fp(v-else-if="props.snipe.fp > 0") {{$n(props.snipe.fp)}} (
                    template(v-if="props.snipe.roi > 0")
                      span.icon.is-small.has-text-success(style="vertical-align: middle;")
                        i.fas.fa-arrow-up
                        | &nbsp;
                      b-tooltip(position="is-left" :type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.profit', { count: $n(Math.abs(props.roi)) })" dashed) {{$n(Math.abs(props.snipe.roi))}}

                    template(v-else-if="props.snipe.roi < 0")
                      span.icon.is-small.has-text-danger(style="vertical-align: middle;")
                        i.fas.fa-arrow-down
                        | &nbsp;
                      b-tooltip(position="is-left" :type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$tc(i18nPrefix + 'gb_investment.table.tbody.loss', Math.abs(props.roi), { count: $n(Math.abs(props.roi)) })" dashed) {{$n(Math.abs(props.snipe.roi))}}

                    b-tooltip(v-else position="is-left" :type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tbody.neutral')" dashed)
                      span.icon.is-small(style="vertical-align: middle;")
                        i.fas.fa-exchange-alt
                    | )
              // Custom arc bonus
              tr.tableDataPercentageInvestors(v-if="index < result.investment.length")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th5') }}
                td
                  numberinput(:min="0" :step="0.1" :precision="1" v-model.number="investorPercentageCustom[index]" :name="'investorPercentageCustom_' + index")
              // Potential sniper switch
              tr.tableDataIsSniper(v-show="investorParticipation.length > 0" :class="index >= result.investment.length ? 'last-in-card' : ''")
                template(v-if="props.defaultParticipationIndex >= 0")
                  th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.is_sniper') }}
                  td
                    t-checkbox(v-model="investorParticipation[props.defaultParticipationIndex].isPotentialSniper" @input="changeIsPotentialSniper(props.defaultParticipationIndex, $event)")
              // Place free
              tr.tableDataIncludeInCopyBoxes.last-in-card(v-if="index < result.investment.length")
                th {{ $t($data.i18nPrefix + 'gb_investment.table.thead.th6') }}
                td
                  t-checkbox(v-model="placeFree[index].state" @input="changePlaceFree(index, $event)")

          tfoot
            tr
              th(v-show="result.otherInvestment.length" :colspan="nbColumns").has-text-centered
                p.control.has-text-centered
                  button.button.is-info(v-if="!showExtraInvestors" @click="showExtraInvestors = true")
                    span.icon
                      i.fas.fa-eye
                    | &nbsp;&nbsp; {{$tc(i18nPrefix + 'gb_investment.table.tbody.button_show_extra_investor', result.otherInvestment.length, { count: $n(result.otherInvestment.length) })}}

                  button.button.is-info(v-else @click="showExtraInvestors = false")
                    span.icon
                      i.fas.fa-eye-slash
                    | &nbsp;&nbsp; {{$tc(i18nPrefix + 'gb_investment.table.tbody.button_hide_extra_investor', result.otherInvestment.length, { count: $n(result.otherInvestment.length) })}}
            tr
              th {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.total_preparation')}}
              td
                p.level-right {{$n(result.totalPreparations)}}
                  template(v-if="ownerInvestmentNormalized > 0 && result.totalPreparations - ownerInvestmentNormalized > 0") &nbsp;(
                    b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t(i18nPrefix + 'gb_investment.table.tfoot.tooltip_owner_investment')" position="is-left" dashed)
                      span.has-text-danger {{$n(result.totalPreparations - ownerInvestmentNormalized)}}
                    | )
            tr
              th {{$t($data.i18nPrefix + 'gb_investment.table.tfoot.level_cost')}}
              td
                p.level-right {{$n(result.cost)}}

    div#giPromotionMessage
      h4.title.is-4.margin-top-one-em(v-if="result !== null") {{$t($data.i18nPrefix + 'promotion.title')}}

      b-tabs#giPromotionMessageTab(v-model="promotionMessageTab" expanded)
        b-tab-item(:label="$t($data.i18nPrefix + 'promotion.title')")
          div.columns
            div.column.is-half#pmPrefix
              t-label(:label="$t('utils.Prefix')" label-for="giPrefix")
              t-input(inputId="giPrefix" type="text" v-model.trim="prefix" name="prefix" :placeholder="$t($data.i18nPrefix + 'promotion.prefix_placeholder')")
                template(#after)
                  b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="showPrefix ? $t('utils.Hide') : $t('utils.Show')")
                    t-button(
                      :title="showPrefix ? $t('utils.Hide') : $t('utils.Show')"
                      @click="switchPrefix"
                      :borderLeft="false"
                      :roundedTopLeft="false"
                      :roundedBottomLeft="false")
                      span.icon.inline-block(v-show="showPrefix")
                        i.fas.fa-eye
                      span.icon.inline-block(v-show="!showPrefix")
                        i.fas.fa-eye-slash

            div.column.is-half#pmSuffix
              t-label(:label="$t('utils.Suffix')" label-for="giSuffix")
              t-input(inputId="giSuffix" type="text" v-model.trim="suffix" name="suffix" :placeholder="$t($data.i18nPrefix + 'promotion.suffix_placeholder')")
                template(#after)
                  b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="showSuffix ? $t('utils.Hide') : $t('utils.Show')")
                    t-button(
                      :title="showSuffix ? $t('utils.Hide') : $t('utils.Show')"
                      @click="switchSuffix"
                      :borderLeft="false"
                      :roundedTopLeft="false"
                      :roundedBottomLeft="false")
                      span.icon.inline-block(v-show="showSuffix")
                        i.fas.fa-eye
                      span.icon.inline-block(v-show="!showSuffix")
                        i.fas.fa-eye-slash

          .grid.grid-cols-1.mb-8(class="sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4")
            yes-no(v-model="displayGbName" :label="$t($data.i18nPrefix + 'gb_investment.display_gb_name')")
            yes-no(v-model="shortName" :label="$t($data.i18nPrefix + 'gb_investment.use_short_name')")
            yes-no(v-model="showLevel" :label="$t($data.i18nPrefix + 'gb_investment.show_level')")
            yes-no(v-model="showOnlySecuredPlaces" :label="$t(i18nPrefix + 'gb_investment.form.show_only_secured_places')")

          div(v-if="result !== null")
            template(v-for="(value, i) in promotion")
              // Show custom fields
              template(v-if="promotionMessageList[promotionMessageList.map(val => val.name).indexOf(value.name)].config.customFields")
                div.columns(v-for="(line, index) in getSplittedCustomFields(value.name)")
                  div.column.is-half(v-for="(elt, index) in line")
                    t-label.custom_field(:label="elt.key" :label-for="'custom_field_' + elt.key")
                    t-input(:inputId="'custom_field_' + elt.key" type="text" :placeholder="promotionMessageList[i].config.customFields[elt.key].placeholder" v-model.trim="promotionMessageList[i].config.customFields[elt.key].value" :name="'custom_field_' + elt.key")
                      template(#after)
                        b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="promotionMessageList[i].config.customFields[elt.key].show ? $t('utils.Hide') : $t('utils.Show')")
                          t-button(
                            :title="promotionMessageList[i].config.customFields[elt.key].show ? $t('utils.Hide') : $t('utils.Show')"
                            @click="promotionMessageList[i].config.customFields[elt.key].show = !promotionMessageList[i].config.customFields[elt.key].show"
                            :borderLeft="false"
                            :roundedTopLeft="false"
                            :roundedBottomLeft="false")
                            span.icon.inline-block(v-show="promotionMessageList[i].config.customFields[elt.key].show")
                              i.fas.fa-eye
                            span.icon.inline-block(v-show="!promotionMessageList[i].config.customFields[elt.key].show")
                              i.fas.fa-eye-slash
              // Show value
              div.columns
                div.column
                  t-input(:as="nbMultiLine(value.message) ? 'textarea' : 'input'" :rows="nbMultiLine(value.message) ? nbMultiLine(value.message) : undefined" :value="value.message" isReadOnly)
                    template(#before)
                      b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t('utils.Remove')")
                        t-button(
                          :title="$t('utils.Remove')"
                          @click="removePromotionMessage(i)"
                          iconLeft="fas fa-trash"
                          :borderRight="false"
                          :roundedTopRight="false"
                          :roundedBottomRight="false" type="danger")
                    template(#after)
                      b-tooltip(:type="$store.get('isDarkTheme') ? 'is-light' : 'is-dark'" :label="$t('utils.Copyed')" :active="value.active" always)
                        t-button(
                          v-clipboard="value.message"
                          @success="successCopy(i)"
                          :title="$t('utils.Copy')"
                          iconLeft="far fa-copy"
                          :borderLeft="false"
                          :roundedTopLeft="false"
                          :roundedBottomLeft="false")

          div.columns
            div.column
              #pmAddMessage
                t-select#pmbTemplateToAdd(v-model.trim="templateToAdd" name="templateToAdd" autocomplete="off" :roundedTopRight="false" :roundedBottomRight="false")
                  optgroup(:label="$t('components.promotion_message_builder.templates.default')")
                    option(v-for="template in defaultPromotionMessagesTemplates" :key="template.id" :value="template.id") {{template.name}}: {{getTemplateSample(template.config)}}
                  optgroup(v-if="customPromotionMessagesTemplates.length" :label="$t('components.promotion_message_builder.templates.custom')")
                    option(v-for="template in customPromotionMessagesTemplates" :key="template.id" :value="template.id") {{template.name}}: {{getTemplateSample(template.config)}}

                  template(#after)
                    t-button(
                      :title="$t('utils.Add')"
                      @click="addPromotionMessageTemplate"
                      iconLeft="fas fa-plus"
                      :borderLeft="false"
                      :roundedTopLeft="false"
                      :roundedBottomLeft="false" type="info") {{$t('utils.Add')}}

        b-tab-item(:label="$t('components.import_promotion_message.title')")
          ImportPromotionMessage
        b-tab-item(:label="$t('components.promotion_message_builder.title')")
          PromotionMessageBuilder

    div(v-if="result" style="margin-top: 2rem;")
      secure-position(:levelData="result" ns="gbi" :customYourArcBonus="getCustomArcBonus" :canCustomYourArcBonus="showSnipe" @customYourArcBonus="yourArcBonus = $event")

  template(v-else)
    ContentLoader(:speed=2 :width=525 :height=420 viewBox="0 0 525 420" backgroundColor="#eaeced" foregroundColor="#ffffff")
      rect(x='25' y='15' rx='5' ry='5' width='220' height='10')
      rect(x='25' y='45' rx='5' ry='5' width='220' height='10')
      rect(x='285' y='45' rx='5' ry='5' width='220' height='10')
      rect(x='285' y='15' rx='5' ry='5' width='220' height='10')
      rect(x='25' y='75' rx='0' ry='0' width='480' height='45')
      rect(x='25' y='75' rx='0' ry='0' width='2' height='327')
      rect(x='505' y='75' rx='0' ry='0' width='2' height='327')
      rect(x='35' y='140' rx='5' ry='5' width='68' height='15')
      rect(x='113' y='140' rx='5' ry='5' width='68' height='15')
      rect(x='191' y='140' rx='5' ry='5' width='68' height='15')
      rect(x='269' y='140' rx='5' ry='5' width='68' height='15')
      rect(x='347' y='140' rx='5' ry='5' width='68' height='15')
      rect(x='425' y='140' rx='5' ry='5' width='68' height='15')
      rect(x='25' y='175' rx='0' ry='0' width='480' height='2')
      rect(x='35' y='195' rx='5' ry='5' width='68' height='15')
      rect(x='113' y='195' rx='5' ry='5' width='68' height='15')
      rect(x='191' y='195' rx='5' ry='5' width='68' height='15')
      rect(x='269' y='195' rx='5' ry='5' width='68' height='15')
      rect(x='347' y='195' rx='5' ry='5' width='68' height='15')
      rect(x='425' y='195' rx='5' ry='5' width='68' height='15')
      rect(x='25' y='230' rx='0' ry='0' width='480' height='2')
      rect(x='35' y='250' rx='5' ry='5' width='68' height='15')
      rect(x='113' y='250' rx='5' ry='5' width='68' height='15')
      rect(x='191' y='250' rx='5' ry='5' width='68' height='15')
      rect(x='269' y='250' rx='5' ry='5' width='68' height='15')
      rect(x='347' y='250' rx='5' ry='5' width='68' height='15')
      rect(x='425' y='250' rx='5' ry='5' width='68' height='15')
      rect(x='25' y='285' rx='0' ry='0' width='480' height='2')
      rect(x='35' y='305' rx='5' ry='5' width='68' height='15')
      rect(x='113' y='305' rx='5' ry='5' width='68' height='15')
      rect(x='191' y='305' rx='5' ry='5' width='68' height='15')
      rect(x='269' y='305' rx='5' ry='5' width='68' height='15')
      rect(x='347' y='305' rx='5' ry='5' width='68' height='15')
      rect(x='425' y='305' rx='5' ry='5' width='68' height='15')
      rect(x='25' y='340' rx='0' ry='0' width='480' height='2')
      rect(x='35' y='365' rx='5' ry='5' width='68' height='15')
      rect(x='113' y='365' rx='5' ry='5' width='68' height='15')
      rect(x='191' y='365' rx='5' ry='5' width='68' height='15')
      rect(x='269' y='365' rx='5' ry='5' width='68' height='15')
      rect(x='347' y='365' rx='5' ry='5' width='68' height='15')
      rect(x='425' y='365' rx='5' ry='5' width='68' height='15')
      rect(x='25' y='400' rx='0' ry='0' width='480' height='2')
